
.config__filters {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	& span {
		margin-bottom: 0.5em;
	}

	& ul {
		text-align: left;
		list-style: none;
		margin: auto;
		width: 70%;

		& li {
			cursor: pointer;
			user-select: none;
			padding: 5px;
			padding-left: 2em;
			border-radius: var(--widget-rounding);

			&::before {
				font-size: 1.5em;
				position: absolute;
				transform: translate(-1em, -0.25em);
			}
		}

		& li[data-checked="0"] {
			color: var(--widget-background-color--negative--active);

			&::before {
				content: "⦻";
			}
		}

		& li[data-checked="1"] {
			color: var(--widget-background-color--positive--active);

			&::before {
				content: "⦿";
			}
		}

		& li[data-disabled="0"]:hover {
			background: var(--highlight-color);
		}

		& li[data-disabled="1"] {
			color: var(--font-color--disabled) !important;
		}
	}
}
