
@use "./filter.scss";
@use "./preset.scss";
@use "./state.scss";

.config {
	margin: 20px;
	white-space: nowrap;
	display: flex;
	flex-direction: column;
	justify-content: center;

	& > hr {
		margin: 20px 0 20px 0;
	}
}
