
.config__state {
	text-align: center;
	display: grid;
	grid-gap: 5px;
	/*
	 * -------label--------
	 * -------input--------
	 * button button button
	 * -----oscillator-----
	 */
	grid-template-columns: repeat(3, fit-content(33%));
	grid-template-rows: repeat(3, fit-content(33%)) fit-content(1%);

	& button {
		white-space: nowrap;
	}

	& span,
	& input,
	& .oscillator-container {
		grid-column: 1 / span 3;
	}

	& input[type="password"] {
		text-align: center;
	}

	& .oscillator-container {
		--oscillate-radius: 100px;
	}
}

#config__state__errors {
	color: var(--widget-background-color--negative--active);
	white-space: normal;
}

.oscillator-container {
	display: none;
	justify-content: center;
}

.api-call-in-progress .oscillator-container {
	display: flex;
}

.oscillator {
	width: 5px;
	height: 5px;
	background: white;
	animation-name: oscillate;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(.46,.03,.52,.96);
}

@keyframes oscillate {
	0%, 100% {
		transform: translateX(calc(-1 * var(--oscillate-radius)));
	}

	50% {
		transform: translateX(var(--oscillate-radius));
	}
}
