
.ability-cell {
	--shake-radius: 1px;

	position: relative;

	& .ability-cell__contents {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		& > .pseudo-image {
			position: relative;
			filter: saturate(0%);
			opacity: 0.5;

			&:not(&[data-offset="0"])::after {
				position: absolute;
				width: inherit;
				height: inherit;
				content: attr(data-offset);
				font-size: 1.2em;
				text-align: center;
				line-height: 32px;
				background: rgba(0, 0, 0, 0.5);

				// the absolute state of webclowns
				// https://stackoverflow.com/a/47511171/4434762
				text-shadow:
					-1px -1px 0 #000,
					 0   -1px 0 #000,
					 1px -1px 0 #000,
					 1px  0   0 #000,
					 1px  1px 0 #000,
					 0    1px 0 #000,
					-1px  1px 0 #000,
					-1px  0   0 #000;
			}

			&:hover {
				cursor: pointer;
				opacity: 0.75;
				filter: saturate(75%);
				animation-name: ability-shake;
				animation-duration: 500ms;
				animation-iteration-count: infinite;
				animation-timing-function: linear;
			}

			&[data-state="selected"] {
				filter: saturate(100%);
				opacity: 1;
			}

			&[data-state="unavailable"] {
				opacity: 0.1;
			}

			&[data-state="disabled"] {
				visibility: hidden;
				pointer-events: none;
			}
		}
	}
}

@keyframes ability-shake {
	0%, 100% {
		transform: translateX(calc(var(--shake-radius) * -1));
	}

	50% {
		transform: translateX(var(--shake-radius));
	}
}
