
.job-selector {
	margin: 10px;
	padding: 0;
	background: var(--background-color);

	&:hover {
		cursor: pointer;
	}

	& .pseudo-image {
		// required to properly size the img for sprites
		display: block;
	}

	&__popup {
		background: var(--highlight-color);
		display: none;
		position: absolute;
		// there are 5 columns. this shifts it left 2 columns to center it below
		margin-left: calc(48px * -2);
		border-radius: var(--widget-rounding);
		z-index: 10;

		&__role-group {
			display: flex;
			flex-direction: column;

			& .pseudo-image {
				filter: saturate(10%);
				cursor: pointer;

				&:hover {
					filter: saturate(100%);
				}
			}
		}

		& *[alt="DUM"] {
			margin-top: 100%;
		}
	}

	&:hover &__popup {
		display: flex;
	}
}
