
.ability-menu {
	text-align: center;
	position: absolute;
	right: 50%;
	top: 100%;
	background: var(--background-color);
	border: 3px solid var(--widget-background-color);
	border-radius: var(--widget-rounding);
	z-index: 3;

	& > hr {
		margin: 0.5em 0 0.5em 0;
	}

	& > input {
		display: block;
		margin: 0 auto;
	}

	// usage info text
	& > span {
		margin-bottom: 0.5em;
	}

	&__header {
		display: flex;
		justify-content: center;
		align-items: center;
		white-space: nowrap;
		padding: 1em;

		& > span {
			margin-left: 1em;
		}
	}

	&__labels {
		display: grid;
		grid-template-columns: 30% 40% 30%;

		& > span:nth-child(1),
		& > span:nth-child(3) {
			opacity: 0.5;
		}
	}

	&__buttons {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-top: 1em;

		& > * {
			border: 1px solid var(--widget-background-color);
		}
	}
}

.pseudo-image.highlight-ability-cell {
	animation-name: ability-flash;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes ability-flash {
	0%, 100% {
		filter: saturate(0%);
		opacity: 0;
	}

	50% {
		filter: saturate(100%);
		opacity: 1;
	}
}
