
@use "./cell.scss";
@use "./job_selector.scss";
@use "./menu.scss";
@use "./phase.scss";

.highlight-side-borders {
	border-left: 1px solid var(--highlight-color);
	border-right: 1px solid var(--highlight-color);
}

.timeline {
	margin: 5%;

	& table {
		border-collapse: collapse;
	}

	& tbody,
	& th,
	& td {
		padding: 3px;
	}
}

.job-selector-container {
	text-align: center;
}
