
.timeline__end__container {
	display: flex;
	justify-content: right;
	align-items: center;

	& input[type="text"] {
		// putting a null border now so the --invalid border doesn't modify the size later
		border: 1px solid transparent;
		text-align: center;
		width: 50px;
	}
}

.timeline__end__container--invalid {
	& .symbol-button--positive {
		&,
		&:hover,
		&:active {
			color: var(--highlight-color);
			filter: saturate(0%);
		}
	}

	& input[type="text"] {
		// firefox shows the outline and border, chrome only shows the border
		border: 1px solid var(--widget-background-color--negative--active);
		outline: var(--widget-background-color--negative--active);
	}
}
