
@use "./phase_time.scss";

.timeline__phase {
	cursor: pointer;
	border-bottom: 1px solid var(--highlight-color);
	border-radius: var(--widget-rounding);

	&:hover {
		background: var(--highlight-color);
	}

	// name
	& > *:nth-child(1) {
		text-align: left;
		font-size: 1.25em;

		&::before {
			content: "⨭";
			margin-right: 0.25em;
			// default is inline and inline ignores rotation
			display: inline-block;
			transform: rotate(90deg);
			transition: transform 0.5s;
		}
	}
}

.timeline__mechanic {
	// label
	&:hover > *:nth-child(2) {
		text-decoration: underline;
	}

	// time
	& > *:nth-child(1),
	// label
	& > *:nth-child(2) {
		text-align: right;
	}

	&--disabled {
		& * {
			opacity: 0.5;
		}

		& > *:nth-child(1) {
			text-decoration: line-through;
		}
	}
}

.timeline__end {
	& > *:nth-child(1),
	& > *:nth-child(2) {
		text-align: right;
	}
}

.timeline__collapse-phase {
	& .timeline__phase > *:nth-child(1) {
		opacity: 0.5;

		&::before {
			transform: rotate(180deg);
		}
	}

	& .timeline__mechanic,
	& .timeline__end {
		display: none;
	}
}
