
@use "./readonly.scss";
@import "./config/mod.scss";
@import "./timeline/mod.scss";

.app {
	// i'm not doing vendor prefix dances for chrome
	scrollbar-color: var(--widget-background-color) var(--highlight-color);
}

.sidebar {
	display: grid;
	grid-template-columns: 1fr fit-content(0);
	position: fixed;
	height: 100%;
	background: var(--background-color);
	z-index: 10;
}

.flex-filler {
	flex-grow: 1;
}

.sidebar__contents {
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	text-align: center;

	& > a {
		padding: 5px;
		color: var(--font-color--disabled);

		&:hover {
			background: var(--highlight-color);
		}
	}
}

.sidebar--collapsed {
	& .sidebar__contents {
		display: none;
	}
}

.sidebar__toggle {
	&::after {
		content: "⚙";
	}
}

main {
	display: flex;
	justify-content: center;
	overflow-y: auto;
}

.fader {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #040404d1;
	backdrop-filter: blur(1px);
	z-index: 9;
	display: none;
	cursor: pointer;
}

.sidebar:not(.sidebar--collapsed) + main .fader {
	display: block;
}

.readonly-toggle {
	background: transparent;
	position: absolute;
	top: 0;
	right: 20px;
	height: 2em;
	padding: 5px;
	z-index: 2;
	color: var(--font-color--disabled);

	.readonly & {
		color: var(--text-color);
		text-decoration: underline;
	}
}

.symbol-button {
	font-size: 1.25em;
	line-height: var(--normal-font-size);
	background: transparent;

	&--neutral {
		@extend .symbol-button;

		color: var(--widget-background-color--neutral);

		&:hover {
			color: var(--widget-background-color--neutral--hovered);
			filter: brightness(2);
		}

		&:active {
			color: var(--widget-background-color--neutral--active);
			filter: brightness(3);
		}
	}

	&--positive {
		@extend .symbol-button;

		color: var(--widget-background-color--positive);

		&:hover {
			color: var(--widget-background-color--positive--hovered);
			filter: brightness(2);
		}

		&:active {
			color: var(--widget-background-color--positive--active);
			filter: brightness(3);
		}
	}

	&--negative {
		@extend .symbol-button;

		color: var(--widget-background-color--negative);

		&:hover {
			color: var(--widget-background-color--negative--hovered);
			filter: brightness(2);
		}

		&:active {
			color: var(--widget-background-color--negative--active);
			filter: brightness(3);
		}
	}
}
