
/*
 * !important is appropriate here because this
 * sheet is designed to overrule all other sheets.
 */

.readonly {
	& .fader,
	& .sidebar *,
	& .timeline__end button,
	& .ability-menu,
	& .pseudo-image[data-state="available"],
	& .pseudo-image[data-state="unavailable"],
	& .pseudo-image[data-state="disabled"] {
		display: none !important;
	}

	* .job-selector,
	& .pseudo-image[data-state="selected"] {
		pointer-events: none !important;
	}
}
