
@use "./sprite/assets/abilities.scss";
@use "./sprite/assets/jobs.scss";
@use "./src/components/app.scss";

:root {
	--background-color: #161616;
	--background-color--raised: #1c1c1c;
	--font-color: #cfcfcf;
	--font-color--disabled: #464646;
	--highlight-color: #202020;

	--widget-background-color: #333333;
	--widget-background-color--hovered: #414141;
	--widget-background-color--active: #525252;

	--widget-background-color--positive: #25502e;
	--widget-background-color--positive--hovered: #306a3c;
	--widget-background-color--positive--active: #40894f;

	--widget-background-color--negative: #5c2929;
	--widget-background-color--negative--hovered: #723232;
	--widget-background-color--negative--active: #853b3b;

	--widget-background-color--neutral: #2f3d64;
	--widget-background-color--neutral--hovered: #384a7a;
	--widget-background-color--neutral--active: #435995;

	--normal-font-size: 16px;
	--widget-rounding: 5px;
}

* {
	margin: 0;
	padding: 0;
	color: var(--font-color);
	font-size: var(--normal-font-size);
	font-family: "Open Sans", sans-serif;
}

hr {
	color: var(--widget-background-color);
}

body {
	background: var(--background-color);
}

button {
	border: none;
	border-radius: 0;
	padding: 10px;
	cursor: pointer;
	border-radius: var(--widget-rounding);
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

select {
	border: none;
	border-radius: 0;
	padding: 10px;
	border-radius: var(--widget-rounding);
}

input[type="text"], input[type="password"] {
	background: var(--widget-background-color);
	border: none;
	padding: 5px;
	border-radius: var(--widget-rounding);
}

.colored-widget {
	background: var(--widget-background-color);

	&:hover {
		background: var(--widget-background-color--hovered);
	}

	&:active {
		background: var(--widget-background-color--active);
	}
}

.colored-widget--positive {
	background: var(--widget-background-color--positive);

	&:hover {
		background: var(--widget-background-color--positive--hovered);
	}

	&:active {
		background: var(--widget-background-color--positive--active);
	}
}

.colored-widget--negative {
	background: var(--widget-background-color--negative);

	&:hover {
		background: var(--widget-background-color--negative--hovered);
	}

	&:active {
		background: var(--widget-background-color--negative--active);
	}
}

.colored-widget--neutral {
	background: var(--widget-background-color--neutral);

	&:hover {
		background: var(--widget-background-color--neutral--hovered);
	}

	&:active {
		background: var(--widget-background-color--neutral--active);
	}
}
